<div fxLayout="column wrap" fxLayoutGap="10px" style="padding-bottom: 5px; padding-top: 5px;">
    <mat-accordion>
        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Search
                </mat-panel-title>
            </mat-expansion-panel-header>
            <form [formGroup]="empSearchInfo">
                <ng-template matStepLabel>Fill emp personal info</ng-template>
                <!-- 1st Row    START-->
                <div class="form-row" fxLayout="row wrap" fxLayoutGap="25px" fxLayout.xs="column wrap"
                    fxLayoutGap.xs="10px">
                    <mat-form-field fxFlex="calc(20% - 25px)">
                        <mat-label>Employee ID</mat-label>
                        <input matInput formControlName="empId">
                    </mat-form-field>
                    <mat-form-field fxFlex="calc(20% - 25px)">
                        <mat-label>First Name</mat-label>
                        <input matInput formControlName="firstName">
                    </mat-form-field>
                    <mat-form-field fxFlex="calc(20% - 25px)">
                        <mat-label>Middle Name</mat-label>
                        <input matInput formControlName="middleName">
                    </mat-form-field>
                    <mat-form-field fxFlex="calc(20% - 25px)">
                        <mat-label>Last Name</mat-label>
                        <input matInput formControlName="lastName">
                    </mat-form-field>
                </div>
                <div fxLayout="row wrap" fxLayoutGap="25px" fxLayout.xs="column wrap" fxLayoutGap.xs="10px">
                    <button mat-button mat-raised-button color="primary" (click)="nextStep()">Search</button>
                </div>
            </form>

        </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
        <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <div>
                        <!-- <mat-icon class="material-icons-outlined">view_list</mat-icon> -->
                        Employee Search Data
                    </div>

                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="loading-shade" *ngIf="isLoadingResults">
                <div fxLayout="column wrap" fxLayoutGap="25px">
                    <div fxLayoutAlign="center center">
                        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
                    </div>
                    <div> 
                        <span style="color: blue; font-size: 20px;">{{loadingMsg}}</span>
                    </div>
                </div>
            </div>
            <app-alert></app-alert>
            <mat-form-field appearance="standard">
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
            </mat-form-field>

            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" matSort>

                    <!-- EMPID Column -->
                    <ng-container matColumnDef="empId">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Emp ID </th>
                        <td mat-cell *matCellDef="let row"> {{row.empId}} </td>
                    </ng-container>

                    <!-- FirstName Column -->
                    <ng-container matColumnDef="designation">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Designation </th>
                        <td mat-cell *matCellDef="let row"> {{row.designation}} </td>
                    </ng-container>

                    <!-- FirstName Column -->
                    <ng-container matColumnDef="firstName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
                        <td mat-cell *matCellDef="let row"> {{row.firstName}} </td>
                    </ng-container>

                    <!-- MiddleName Column -->
                    <ng-container matColumnDef="middleName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Middle Name </th>
                        <td mat-cell *matCellDef="let row"> {{row.middleName}} </td>
                    </ng-container>

                    <!-- Last Name Column -->
                    <ng-container matColumnDef="lastName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
                        <td mat-cell *matCellDef="let row"> {{row.lastName}} </td>
                    </ng-container>

                    <!-- Unit Name Column -->
                    <ng-container matColumnDef="unitName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Unit Name </th>
                        <td mat-cell *matCellDef="let row"> {{row.unitName}} </td>
                    </ng-container>

                    <!-- Action Name Column -->
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                        <td mat-cell *matCellDef="let row; let i = index">
                            <div fxLayout="row wrap" fxLayoutGap="5px">
                                <mat-icon class="cursorsymbol" (click)="onClickView(row.empId)">visibility</mat-icon>
                                <mat-icon class="cursorsymbol" (click)="onClickEdit(row.empId)">edit</mat-icon>
                                <mat-icon class="cursorsymbol" color="warn" (click)="onClickDelete(row.empId, i)">delete
                                </mat-icon>
                            </div>
                        </td>
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table-element-row"></tr>

                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                    </tr>
                </table>

                <mat-paginator [pageSizeOptions]="[10, 20, 30, 100]"></mat-paginator>
            </div>
        </mat-expansion-panel>
    </mat-accordion>

</div>