/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
    padding: 20px 40px;
}

.frmContainer {
    padding: 20px;
}
  
.frmCard {
    position: absolute;
    left: 15px;
    right: 15px;
}
.tab-frm-content{
    margin-top: 20px;
}
fieldset{
    border-width: 1px;
    border-color: #a2a2a2; 
    border-style:solid;   
}